# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# blade-build
.Building.lock
.sconsign.dblite
blade-bin
build64_release
build64_debug
build.conf

# VSCode
.vscode

# Vim
*.swp

# Core Dump
core.*
